// color 
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$yellow-1:#FFDC25;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$gray: #6c757d;
$gray-2: #F5F5F5;
$gray-dark: #343a40;
$gray-0:rgba(255, 255, 255, 0.7);
$gray-1:rgba(255, 255, 255, 0.6);
$black:#000;
$black-0:#243238;
$black-1:#2C2C2C;
$black-2:#3b3b3b;
$black-3:#2D2D2D;
$white:#ffffff;
$white-1:#FCFCFC;

//font-size 

$fs-0:16px;
$fs-2:22px;
$fs-1:46px;

//font-weight

$fw-0:400;
$fw-1:600;
$fw-2:500;

// padding

$pd-0:15px;
$pd-1:22px;
$pd-2:35px;
$pd-3:5px;
$pd-4:52px;
$pd-5:140px;
$pd-6:110px;
$pd-7:120px;

//margin

$mg-0:15px;
$mg-1:30px;
$mg-2:23px;
$mg-3:17px;
$mg-4:40px;
$mg-5:103px;
$mg-6:60px;


// percent

$p3:100/3;