*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: $black-0;
    font-size: $fs-0;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-weight: $fw-0;
    letter-spacing: -0.025em;
}

img{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

::selection{
    background: $yellow-1;
    color: $white;
}

a, a:focus, a:active, a:hover {
    text-decoration: none;
}

p{
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
}

h2 + p{
    margin-top: 28px;
}

* + p{
    margin-top: $mg-0;
}