.banner {
    padding: 0;
    background-color: $black-1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    .banner_left {
        padding-top: 0;
        flex-basis: 244px;
        .banner_social_list {
            margin-top: $mg-3;
            margin-right: $mg-4;
            flex-direction: column;
            display: flex;
            margin-bottom: -$mg-2;
            margin-left: -$mg-2;
            list-style: none;
            padding: 0;
            li {
                margin-bottom: $mg-2;
                margin-left: $mg-2;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: $pd-3;
                    margin: 0 auto;
                    border: 2px solid rgba(255, 255, 255, 0.1);
                    border-radius: 10em;
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    transition: 0.5s;
                    &:hover i {
                        color: $white;
                    }
                    i {
                        transition: 0.5s;
                        font-size: $fs-0+2;
                        line-height: 1;
                        color: $gray-0;
                    }
                }
            }
        }
    }
    .banner_right {
        width: 100%;
        height: 731px;
        min-height: 731px;
        position: relative;
        background-image: url(../images/home-01-1676x731.jpg);
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 61px;
            height: 88%;
            top: 6%;
            left: -61px;
            background-color: $black-2;
            z-index: 0;
        }
        .bannertxt{
            max-width: 360px;
            padding: 0;
            padding-top: $pd-7 + 1;
            padding-bottom: $pd-5;
            margin-left: $mg-5;        
            h2{
                font-size: $fs-1;
                line-height: 1.17391;
                color: $white;
                font-weight: $fw-1;
            }
            p{
                margin-top: $mg-1 + 4;
                color: $gray-1;
            }
            a{
                margin-top: $mg-4 - 4;

            }
        }
    }
    @include respond-to("xl") {
        flex-direction: column-reverse;
        .banner_left{
            flex-basis: content;
            .banner_social_list{
                flex-direction: row;
                padding: $pd-4 0;
                margin: 0;
            }
        }
    }
}
