footer {
    background-image: url(../images/bg-price-1920x1128.png);
    background-color: $black-1;
    padding: $pd-8 - 2 0 $pd-9;
    .footer-title {
        color: $gray-1;
        font-size: $fs-0 - 2;
        text-transform: uppercase;
    }
    .footer-list {
        margin-top: $mg-2 - 3;
        margin-bottom: - $mg-8 + 4;
        li { 
            margin-bottom: 10px;
            color: $white;
            a {
                color: $white;
                &:hover {
                    color: $yellow-1;
                }
            }
        }
    }
    .footer-logo {
        margin-top: $mg-4 + 10;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 40%;
            height: 1px;
            background-color: $gray-4;
            top: 50%;
            left: 0;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 40%;
            height: 1px;
            background-color: $gray-4;
            top: 50%;
            right: 0;
        }
    }
    .copyright {
        text-align: center;
        margin-top: $mg-6;
        color: $gray-1;
    }
}
