header{
    height: 134px;
    border-bottom: 1px solid transparent;
    background: $black-1;
    transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
    .header_nav{
        padding-left: $pd-0;
        padding-right: $pd-0;
        position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 49px 0;
    ul{
        list-style: none;
    }
        .nav-item{
            display: inline-block;
        }
        .nav-link{
            text-decoration: none;
        }
        .nav_left{
            .nav-item{
                margin-left: $mg-1;
                &:first-child{
                    margin-left: 0;
                }
                .nav-link{
                    position: relative;
                    display: inline-block;
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.2;
                    transition: .25s;
                    &:hover{
                        color: $white;
                    }
                }
                &.active{
                    .nav-link{
                        color: $white;
                        background: transparent;
                    }
                }
            }
        }
        .nav_logo{
            .logo{
                max-width: 200px;
                max-height: 200px;
            }
        }
        .nav_right{
            .nav-item{
                padding-left: $pd-1;
                padding-right: $pd-1;
                .nav-link{
                    color: $white-1;
                    transition: all 0.3s ease-in-out;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        display: block;
                        width: 0%;
                        height: 1px;
                        bottom: 12px;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover::before{
                        width: 100%;
                        margin: 0 auto;
                        bottom: -3px;
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }
            }
        }
    }
}